<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.leibnix.repository.common.Module"
            objectClass="org.leibnix.repository.common.Module">
         <action
               class="org.leibnix.repository.client.ui.InstallOrUpdate"
               id="org.leibnix.repository.client.action1"
               label="Install / Update">
         </action>
      </objectContribution>
   </extension>

</plugin>
